body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
  background-color: #f5f5f5e0;
}

header {
  background-color: #ed2939;
  color: white;
  text-align: center;
  padding: 1em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #000000;
}

.cart-box {
  background-color: #ffc107;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

section {
  padding: 2em;
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-item {
  width: 80%;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ed2939;
  background-color: #fd8d8d;
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.menu-item h3 {
  color: #ed2939;
}

.menu-item p {
  color: #333;
}

.menu-item button {
  background-color: #ed2939;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #0a015c;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px 20px;
  cursor: pointer;
}
.menu-item button:hover {
  background-color: #990000;
}

.menu-item img {
  max-width: 100%;
  height: auto;

  left: 40px;
}

.menu-item:hover {
  transform: translateY(-2px);
  zoom: 150%;
}
#cart-items {
  border: 1px solid #ccc;
  height: 50px;
  width: 150px;
  padding: 1px;
  margin-top: 10px;
  overflow: scroll;
}

.cart-item {
  margin-bottom: 1px;
  text-decoration: underline;
}
